{% extends "mail_layout.html" %}
{% block mail_content %}
<div align="left" style="width: 600px; min-height: 400px; background-color: #FFFF;">
			
	<div style="display: inline-block; margin-top: 2rem; margin-left: 50px;width: 500px; font-size: 1.3rem; font-family: Arial; color: darkslategray;">
		<p><span style="font-weight: 600; font-size: 1.4rem;">DICE Security Alert 🤫,</span>
			<br><br>
			This OTP is only valid for 8 minutes before it expires and becomes useless. Please do not, under any circumstances, distribute this to anyone. Your 6-digit OTP for DICE email verification is <b><span style="color: #0434E0;">{{otp_token}}</span></b>.
		</p>
		<center>
			<input style="border:0px; background-color: #0434E0; color: white; font-size: 1.2rem; padding: 6px;width: 5rem; padding-left: 30px; padding-right: 30px; border-radius:4px; text-align: center;" value={{otp_token}} readonly>
			<br>
			<br>
			<label style="margin: 10px; display: inline-block;">You can disregard this message if you didn't sign up for the DICE platform.</label><br><br>
		</center>
	</div>
</div>
{% endblock %}